html, body {
    margin: 0;
    padding: 0;
    background-color: #231f20;
    color: #Ffd74c;
    overflow-x: hidden;
    font-family: 'Roboto';
}

h1, p {
    margin: 0;
    user-select: none;
}

.container {
    width: auto;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

div[class^='col-'] {
    padding: 0;
}

.content-box {
    height: 600px;
}

header {
    background-color: #Ffd74c;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

footer {
    background-color: #Ffd74c;
    height: 30px;
    width: 100%;
    color: #231f20;
    margin: 50px 0; 
}

footer .container {
    align-items: center;
    height: 100%;
}

footer p {
    text-align: center;
    margin: 0 auto;
}

main {
    margin-top: 60px;
}

.main-banner {
    height: 600px;
    background-image: url(../img/landing-bg.jpg)
}

.main-banner div {
    height: 100%;
}

.main-banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-banner-text h1, .main-banner-text p {
    color: white;
    margin: 0 auto;
    text-align: center;
}

.main-banner-text h1 {
    font-size: 80px;
    font-weight: 700;
}

.main-banner-text p {
    font-size: 42px;
    margin-top: 40px;
}

.content-row {
    margin: 100px 0;
    display: flex;
    width: 100%;
}

.content-row div {
    height: 100%;
}

.first-row-left {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-row h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 20px 20px 40px;
}

.content-row p {
    font-size: 24px;
    margin: 20px;
}

.first-row-right, .third-row-right {
    display: flex;
    justify-content: flex-end;
}

.first-row-right img {
    box-shadow: 0px 0px 30px 0px white;
}

.content-row img {
    max-height: 600px;
    max-width: 100%;
}

.second-row-left img {
    box-shadow: 0px 0px 30px 0px white;
}

.second-row-right {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third-row-left {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third-row-right img {
    box-shadow: 0px 0px 30px 0px black;
}

.fourth-row {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 50px;
}

.fourth-row-block {
    position: relative;
    padding: 40px;
    box-shadow: 0px 0px 30px 0px white;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.fourth-row-block img {
    position: absolute;
    right: 50px;
    top: -150px;
    z-index: 2;
}

.fourth-row-block p {
    flex: 1;
    margin: 0;
}

.fourth-row-block h1 {
    font-size: 40px;
    margin: 0 0 60px;
}

.button {
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 32px;
    transition: all .3s;
    color: #231f20;
    background-color: #Ffd74c;
}

.button:hover {
    background-color: transparent;
    color: #Ffd74c;
    border: 1px solid #Ffd74c;
}